body{
font-family:sans-serif;
background-color: rgb(0, 0, 0);
background-size: cover;
overflow-y: auto;
overflow-x: hidden;
}

.sidenav{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color:rgb(20, 20, 20);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}
span{
color: white;
z-index: 1;
}

.sidenav a{
  padding: 10px 10px 10px 38px;
  text-decoration: none;
  font-size: 30px;
  color: #999898;
  display: block;
  transition: 0.3s;
}
.sidenav a:hover{
  color: #f1f1f1;
}
.sidenav .closebtn{
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
@media screen and (max-height:450px){
  .sidenav{padding-top: 15px;}
  .sidenav a{font-size: 18px;}
}
.topnav {
    z-index: 0;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: left;
    align-items: baseline;
    position: relative;
}
.home-button div {
    color: white;
    text-decoration: underline;
    font-size: 24px;
    margin-left: 50%;
}
.tools-button div {
    color: white;
    text-decoration: inherit;
    font-size: 24px;
    margin-left: 100%;
}

.logo{
  padding-left: 25px;
cursor: pointer;
font-size: 48px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.login-link{
  position:relative;
 left: 63rem; 
}
 .login{
  cursor: pointer;
  font-size: 31px;
  position: relative;
  bottom: 8px;
}
button {
  background-color: #161616ee;
  color: white;
  padding: 7.5px 15px;
  margin: 8px 30px ;
  border-width: 0px;
  border-style:solid;
  border-color: rgb(255, 255, 255);
  border-radius: 3px;
  cursor: pointer;
/*   width: 5.7%; */
  opacity: 0.9;
  font-size: 55%;
  letter-spacing: 1.25px;
  transition: all 0.3s ease 0s;
 box-shadow: 0px 0px 12px rgb(189, 189, 189); 
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;} button:hover {
  box-shadow: 0px 0px 12px rgb(138, 114, 73);
  background-color: #e1e1e1;
  color: rgb(0, 0, 0);
}
.images {
  display: flex;
  flex-wrap: wrap;
  margin: 0 50px;
  padding: 30px;
}

.photo {
  max-width: 31.333%;
  padding: 0 50px;
  height: 240px;
  cursor: pointer;
  transition: 0.2s;
}
.photo:hover{
  transform: scale(1.2);
}

.photo img {
  width: 100%;
  height: 100%;
}
::-webkit-scrollbar{
  width: 0px;
}
.footer{
  position: relative;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #0f0f0fa8;
  width: 100%;
  height: 20%;
  z-index: 0;
  padding-bottom: 30px;
}

.headline{
  padding-top: 1%;
  padding-left: 25px;
color: #ffffff;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
h1{
font-family: cursive;  color: #7f7f7f;
  font-size: 12px;
  padding-left: 60px;
}
.material-symbols-outlined{
  color: #6d6d6d;
  font-size: 120px;
  height: 13px;
  width: 13px;
   padding-right: 30px; 
}
.s2{
  cursor: pointer;
color: #676767;
font-size:small;
}
hr{
height: 0;
border-color: rgb(63, 63, 63);
box-shadow: 10px #221111;
;}
.icons{
  font-size: 70px;
  padding:0%;
  letter-spacing: 30px;
  margin-left: 60%;
  margin-top: -115px;
 z-index: 1;
}
.back-box{
  background-color: #242424;
  width: 630px;
  height: 450px;
  color: #242424;
  margin-left: 5%;
  margin-top: 5%;
  border-radius: 2%;

}
.back-box-img{
margin-top: 8.25%;
  width: 570px;
  height: 350px;
  border-radius: 2%;z-index: 0;
    transition:0.5s ease;

}
.back-box-img:hover{
transform:scale(1.05);
  transition:0.5s ease;
}
.back-box1{
  background-color: #242424;
  width: 630px;
  height: 450px;
  color: #242424;
  margin-left: 50%;
  margin-bottom: 5%;
  margin-top: 6%;
  border-radius: 2%;
}
.back-box1-img{
  margin-top: 7.8%;
    width: 570px;
    height: 350px;
    border-radius: 2%;
    transition:0.5s ease;
  } 
.back-box1-img:hover{
transform:scale(1.05);
  transition:0.5s ease;
}
  .ldetails{
   
    align-items: end;
justify-content: center;
margin-top: -34%;
padding-bottom: 6%;
padding-top: 3%;
padding-right:3%;
margin-bottom: 8%;
margin-left: 5%;
    /* padding-left: 30px; */
    width: 600px;
    height: 300px; 
  font-size:small;
  border: 1px solid white;
 border-radius: 20px;
  z-index: 1;
  }
  .rdetails{
    align-items: end;
    justify-content: center;
    margin-top: -30%;
    padding-bottom: 6%;
    padding-top: 3%;
    padding-right:3%;
    margin-bottom: 8%;
margin-left: 52.8%;        /* padding-left: 30px; */
        width: 600px;
        height: 300px; 
      font-size:small;
      border: 1px solid white;
     border-radius: 20px;
      z-index: 1;
   }
  .download{
    background-color: green;
    position: relative;
    width: 200px;
    height: 50px;
    font-size: 30px;
    margin-left: 33.33%;
margin-top: 5%;
}
